/* Общие стили */
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #212529;
    font-size: 17px;
}

.content-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 0;
    margin-top: 60px;
}

.content-wrapper .breadcrumbs{
    align-items: center;
    display: inline-flex;
    gap: 5px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 1rem;
}

.breadcrumbs svg{
    stroke-width: 1;
    width: 25px;
    height: 25px;
    opacity: 0.5;
}

.breadcrumbs-link{
    color: #212529;
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.breadcrumbs-link:hover{
    opacity: 1;
}

.lesson-banner-img{
    border-radius: 0px;
    width: calc(100% + 172px);
    margin-bottom: 20px;
    aspect-ratio: 16 / 9;
    margin-left: -86px;
}

.lesson-header h1 {
    margin: 0 0 2rem 0;
    /* margin: 0 0 1rem 0; */
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.5;
}

/* --- ОВЕРЛЕЙ (только для мобильных) --- */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -999;
}

.overlay.visible {
    opacity: 1;
    z-index: 999;
}

/* --- МЕНЮ (ХЕДЕР) --- */
.header{
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background-color: rgb(253 253 253 / 75%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.header .logo{
    width: 170px;
    font-weight: 500;
}

.header .nav{
    width: 100%;
    height: 100%;
    max-width: 740px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .nav a{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header .nav a:hover{

}

.header .nav a.assist{
    padding: 3px 15px;
    background: #000000;
    color: #ffffff;
    font-weight: 500;
    border-radius: 15px;
    height: 35px;;
}

.header .nav a.assist:hover{

}

.header .nav-back{
    display: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-weight: 500;
    align-items: center;
    justify-content: start;
}

.header .nav-back svg{
    width: 30px;
    height: 25px;
    stroke-width: 2;
}

.header .current-lesson{
    display: none;
    text-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.open-settings{
    display: none;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    width: 50px;
    height: 100%;
}

.open-settings svg{
    width: 30px;
    height: 25px;
    stroke-width: 1.5;
}

.header .current-lang{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.header .current-lang.mobile{
    display: none;
}


.header .settings{
    width: 170px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header .settings .lang-btn,
.header .settings .profile-link,
.header .settings .theme-switch,
.header .settings .share{
    width: 35px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    gap: 10px;
}

.theme-switch .theme-item{
    display: none;
    gap: 10px;
    cursor: pointer;
}

.theme-switch .theme-item.active{
    display: flex;
}

.header .settings .share{
    display: none;
}

.lang-btn {
    position: relative;
    gap: 5px;
}

.lang-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    width: 185px;
    overflow: hidden;
    z-index: 1001;
}

.lang-btn.open .lang-dropdown {
    display: block;
}

.lang-dropdown a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #212529;
    font-size: 0.9rem;
}

.lang-dropdown a:hover {
    background-color: #f8f9fa;
}

.lang-dropdown a.active {
    font-weight: 600;
    background-color: #f1f1f1;
}

.header .settings .lang-dropdown svg{
    opacity: 0;
    width: 20px;
    height: 20px;
}

.header .settings .lang-dropdown .active svg{
    opacity: 1;
}

.header .settings svg{
    width: 25px;
    height: 25px;
    stroke-width: 1;
}

.header .settings .span-text{
    display: none;
}

/* --- БОКОВАЯ ПАНЕЛЬ (САЙДБАР) --- */
.sidebar {
    position: fixed;
    background: #fff;
    top: 60px;
    left: 0px;
    width: 100%;
    height: calc(100% - 60px);
    border-right: 1px solid rgb(240, 240, 240);
    transform: translateX(-100%);
    transition: transform 0.4s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidebar.visible {
    transform: translateX(0);
}

.sidebar-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(255, 255, 255); */
    position: fixed;
    width: 100%;
}

.sidebar-header h3 {
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 400;
}

.sidebar-header svg{
    width: 25px;
    height: 25px;
    stroke-width: 1.5;
}

.close-sidebar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    color: #6c757d;
}

/* --- КНОПКИ ДЕЙСТВИЙ (САЙДБАР, ИЗБРАННОЕ) --- */
.action-buttons {
    position: fixed;
    top: 122px;
    left: 50%;
    transform: translateX(-420px);
    z-index: 998;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar.visible ~ .action-buttons {
    opacity: 0;
}

.action-buttons button {
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
    position: relative; /* Для позиционирования подсказки */
}

.action-buttons button:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    right: 120%; /* Позиционируем слева от кнопки */
    top: 50%;
    transform: translateY(-50%);
    color: #5a5c5e;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    z-index: 1001;
    opacity: 1;
    transition: all 0.3s ease;
}

.action-buttons button:hover{
    background: #eeeeee;
}

.action-buttons svg{
    stroke-width: 1;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.action-buttons button:hover svg{
    opacity: 1;
    stroke-width: 1.5;
}

.action-buttons button.favorite-btn.active svg{
    color: #ff6c6c;
    fill: #ff6c6c;
}

.lesson-nav{
    display: none;
    position: fixed;
    top: auto;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    flex-direction: row;
    gap: 0px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    padding: 0;
    background-color: rgb(253 253 253 / 75%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.lesson-nav button {
    width: 70px;
    height: 45px;
    background: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
}

.lesson-nav button.active {
    background: lch(0 0 0 / 0.1);
}

.lesson-nav button.favorite-btn.active{
    background: transparent !important;
}

.lesson-nav button svg{
    height: 30px;
    width: 30px;
    stroke-width: 1;
    fill: none;
    transition: fill 0.2s ease, color 0.2s ease;
}

.lesson-nav button.favorite-btn.active svg{
    stroke-width: 1.5;
    color: #ff6c6c !important;
    fill: #ff6c6c;
}

/* --- ПЛАН УРОКА ВНУТРИ САЙДБАРА --- */
.lesson-plan{
    overflow-y: auto;
    height: calc(100% - 70px);
    position: fixed;
    top: 60px;
    width: 100%;
}

.lesson-plan ul {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: lesson-plan-counter;
}

.lesson-plan li {
    counter-increment: lesson-plan-counter;
    margin: 0;
}

.lesson-plan a {
    color: #495057;
    text-decoration: none;
    font-weight: 400;
    padding: 0.8rem 1rem;
    background: transparent;
    border-bottom: 0px solid #dee2e6;
    transition: background-color 0.2s ease;
    display: grid;
    grid-template-columns: 25px 1fr;
    font-size: 0.85rem;
}

.lesson-plan li:last-child a {
    border-bottom: none;
}

.lesson-plan a::before {
    content: counter(lesson-plan-counter) ". ";
    font-weight: 400;
    color: #888;
    margin-right: 0.5rem;
}

.lesson-plan a:hover, 
.lesson-plan a.active {
    background: #eeeeee;
    color: #000;
}

/* --- ОСНОВНОЙ КОНТЕНТ --- */
.description {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 1rem;
    padding: 1.5rem;
    background: #f8f9fa;
    border-radius: 8px;
    color: #495057;
}

.description svg{
    margin-top: 5px;
    width: 25px;
    height: 25px;
    display: table;
}

.description i {
    flex-shrink: 0;
    color: #6c757d;
}

.description h3 {
    font-weight: 600;
    margin-top: 0;
}

.description p {
    margin: 0;
}

.slide {
    padding: 1.4rem 0;
    border-bottom: 1px solid #f2f2f2
}

.slide img{
    width: 100%;
}

.slide ul {
    padding-left: 15px;
}

.slide ol {
    padding-left: 20px;
    display: grid;
    grid-gap: 10px;
}

.slide:last-child {
    border-bottom: none;
}

.slide h2 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 600;
}

/* --- СТИЛИ ВОПРОСОВ --- */

.question {
    padding: 1rem 0 2rem;
    border-bottom: 0px solid #e7e7e7;
}

.question h3{
    font-weight: 600;
}

.question:first-of-type{
    padding-top: 1px;
}

.question:last-of-type {
    border-bottom: none;
}

.answers{
    display: grid;
    grid-gap: 10px;
}

.answer-text{
    font-size: 1rem;
}

.answer-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background: #ffffff;
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    cursor: pointer !important;
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.answer-btn:hover,
.answer-btn.selected {
    background: #f4f4f4;
}

.answer-btn .checkbox-icon {
    width: 22px;
    height: 22px;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all 0.2s ease;
}

.answer-btn.selected .checkbox-icon {
    background-color: #212529;
    border-color: #212529;
    box-shadow: inset 0 0 0 3px #fff;
}

.note {
    margin-top: 1.5rem;
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid;
}

.note.correct {
    border-color: #bfdbc5;
    background-color: #f0fff4;
}

.note.incorrect {
    border-color: #ffb8be;
    background-color: #fff5f5;
}

/* --- БОКОВАЯ ПАНЕЛЬ --- */
.panel{
    position: fixed;
    top: 60px;
    right: 0px;
    width: 100%;
    background: #fff;
    max-width: 350px;
    height: calc(100% - 60px);
    border-left: 1px solid rgb(240, 240, 240);
    transform: translateX(100%);
    transition: transform 0.4s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.panel.visible {
    transform: translateX(0);
}

.panel .panel-header{
    font-weight: 400;
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(255, 255, 255); */
    position: fixed;
    width: 100%;
}

.panel-header .close-panel{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    color: #6c757d;
    margin-right: 10px;
}

.panel-header svg{
    width: 25px;
    height: 25px;
    stroke-width: 1.5;
}

.panel-header .tab-header{
    width: 100%;
    border-radius: 8px;
    text-align: center;
    margin-top: 0;
    font-size: 1.1rem;
    cursor: pointer;
    color: #868686;
    font-weight: 400;
    transition: all 0.2s ease;
}

.panel-header .tab-header:hover{
    background: #f7f7f7;
    color: #212529;
}

.panel-header .tab-header.active{
    background: #eeeeee;
    color: #212529;
}

.panel-content{
    padding: 1rem;
    padding-top: 60px;
    height: 100%;;
}

.panel-content .tab-content{
    display: none; /* Скрываем все вкладки по умолчанию */
    height: 100%;
    position: relative;
    flex-direction: column;
}

.panel-content .tab-content.active{
    display: flex; /* Показываем только активную вкладку */
}

.panel-content .note{
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 0.8rem;
    border-radius: 0px;
    margin: 0;
    border: 1px solid transparent; /* Добавим для плавности */
    transition: background-color 0.2s ease, border-color 0.2s ease;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.note-text {
    flex-grow: 1;
    padding-right: 0px; /* Оставляем место для иконок */
}

.note-actions {
    display: flex;
    gap: 8px;
    position: absolute;
    top: -15px;
    right: 10px;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}

.panel-content .note:hover .note-actions {
    opacity: 1;
}

.note-actions svg {
    width: 27px;
    height: 27px;
    stroke-width: 1.5;
    color: #6c757d;
    cursor: pointer;
    background: #eeeeee;
    padding: 5px;
    border-radius: 5px;
}

.note-actions svg:hover {
    color: #212529;
}

.panel-content .note.editing {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.note-editor {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    resize: none;
    outline: none;
}

.panel-content .note:hover{
    background: #f8f9fa;
}

.note-list{
    padding-top: 15px;;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -1rem;
    margin-right: -1rem;
}

.note-form,
.chat-form{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    max-width: calc(350px - 2rem);
    /* background: #fff; */
    position: relative;
}

.note-form textarea,
.chat-form textarea{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 110px;
    resize: none;
    border: 1px solid rgb(240, 240, 240);
    padding: 15px;
    font-weight: 400;
    border-radius: 10px;
    font-size: 0.9rem;
    line-height: 1.4;
    outline: none; 
    transition: border-color 0.2s ease;
}

.note-form textarea:focus,
.chat-form textarea:focus{
    border-color: #000000;
}

.note-form .btn,
.chat-form .btn{
    border: 1px solid #000;
    width: 100%;
    display: flex;
    gap: 10px;
    line-height: 1.5rem;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 12px 15px;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.note-form .btn:hover,
.chat-form .btn:hover{
    background: #000000;
    color: #ffffff;
}

.note-form .mini-btn,
.chat-form .mini-btn{
    position: absolute;
    right: 7px;
    width: 40px;
    height: 30px;
    margin-top: -45px;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.note-form .mini-btn:hover,
.chat-form .mini-btn:hover{
    background: #000000;
    color: #ffffff;
}

.chat-list{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px 15px;
    border-radius: 18px;
    max-width: 90%;
    line-height: 1.5;
    font-size: 0.9rem;
}

.assistant-message {
    background-color: #f1f1f1;
    color: #212529;
    border-bottom-left-radius: 4px;
    align-self: flex-start;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    border-bottom-right-radius: 4px;
    align-self: flex-end;
}

/* --- КНОПКА ОТКРЫТИЯ ПАНЕЛИ --- */
.panel-cta {
    position: fixed;
    top: 50%;
    margin-top: -11px;
    right: 50%;
    transform: translate(650px, -50%);
    width: 250px;
    border: none;
    z-index: 998;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.panel.visible ~ .panel-cta {
    opacity: 0;
}

.panel-cta-title{
    font-size: 1.1rem;
    font-weight: 200;
    color: #212529;
    margin: 0.4rem 0;
}

.panel-cta-btn{
    padding: 10px 25px;
    background: #eeeeee;
    color: #212529;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.panel-cta-btn svg{
    stroke-width: 1.5;
}

.panel-cta-btn:hover{
    background: #000;
    color: #fff;
}


/* --- СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА ПОДТВЕРЖДЕНИЯ --- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}

.note-modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    /* text-align: center; */
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal-overlay.visible .note-modal-content {
    transform: scale(1);
}

.close-modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
}

.close-modal-btn svg {
    width: 24px;
    height: 24px;
    stroke: #6c757d;
    stroke-width: 1.5;
    transition: stroke 0.2s ease;
}

.close-modal-btn:hover svg {
    stroke: #212529;
}

.note-modal-content h4 {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
}

.note-modal-content p {
    margin-bottom: 1.5rem;
    color: #6c757d;
}

.modal-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.modal-buttons button {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.modal-buttons button svg{
    width: 20px;
    height: 20px;
    stroke-width: 1.5;
}

.btn-primary{
    background-color: #000;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #e9ecef;
    color: #212529;
}

.btn-secondary:hover {
    background-color: #dee2e6;
}

.go-to-edit-link{
    color: #212529;
    margin: auto;
    margin-top: 30px;
    font-size: 0.9rem;
    border-top: 1px solid #eaecef;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    max-width: 400px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.go-to-edit-link svg{
    width: 18px;
    height: 18px;
    stroke-width: 1.5;
}

.edit-note-textarea{
    width: 100%;
    max-width: 500px;
    height: 110px;
    resize: none;
    outline: none;
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.4;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(240, 240, 240);
    font-weight: 400;
}

.edit-note-textarea:focus{
    border-color: #000000;
}


.modal-confirmation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    min-height: 150px; /* Примерная высота для центрирования */
    text-align: center;
}

.modal-confirmation-content svg{
    width: 50px;
    height: 50px;
    stroke-width: 1.5;
    color: #4fb384;
}

.note.is-deleting {
    animation: shake-and-slide-out 0.7s forwards ease-in-out;
    border: 1px solid #dc3545 !important;
}

.note.is-collapsing {
    transition: margin 0.4s ease, padding 0.4s ease, height 0.4s ease, opacity 0.3s ease;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: -10px; /* Чтобы компенсировать gap */
    opacity: 0;
    border-width: 0;
}


@keyframes shake-and-slide-out {
    0% {
        transform: translateX(0);
    }
    10%, 30%, 50% {
        transform: translateX(-5px);
    }
    20%, 40%, 60% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150%);
        opacity: 0;
    }
}


/* --- АДАПТИВНОСТЬ --- */
@media (min-width: 993px) {
    body {
        transition: padding-left 0.4s ease;
    }
    .content-wrapper {
        padding: 4.5rem 1rem;
        padding-top: 0;
        transition: transform 0.4s ease;
    }
    .sidebar{
        max-width: 350px;
    }
    body.sidebar-open .content-wrapper {
        transform: translateX(0px);
    }
    .lesson-plan a{
        padding: 0.5rem 1.5rem;
        padding-left: 1rem;
    }
}

@media (max-width: 992px) {
    .action-buttons {
        display: none;
    }
    .lesson-nav {
        display: flex;
    }
    .overlay {
        display: block;
    }
    .lesson-banner-img{
        width: calc(100% + 2rem);
        margin-left: -1rem;
    }
    .content-wrapper{
        padding-top: 0;
        margin-top: 50px;
    }
    .content-wrapper .breadcrumbs{
        display: none;
    }
    .lesson-header h1 {
        font-size: 1.5rem;
        line-height: 1.6;
        padding-top: 0px;
    }
    .description {
        display: table;
        padding: 1rem;
    }
    .description .bookmark {
        display: none;
        margin-top: -30px;
        margin-bottom: 15px;
    }
    .description h3{
        font-size: 1.1rem;
    }
    .slide h2 {
        font-size: 1.4rem;
    }
    .header{
        height: 50px;
        border: none;
        background-color: rgb(253 253 253 / 80%);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
    }
    .header .nav-back{
        display: flex;
    }
    .header .nav{
        display: none;
    }
    .header .logo{
        display: none;
    }
    .header .current-lesson{
        display: flex;
    }
    .open-settings{
        display: flex;
    }
    .header .settings {
        width: 250px;
        height: auto;
        display: none;
        justify-content: start;
        padding-right: 0px;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 1rem;
        background: #f7f7f7;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .header .settings.active {
        display: flex;
    }
    .header .settings .lang-btn,
    .header .settings .profile-link,
    .header .settings .theme-switch,
    .header .settings .share{
        width: 100%;
        height: 60px;
        justify-content: start;
        align-items: center;
        display: flex;
        cursor: pointer;
        gap: 10px;
        padding: 1rem;
        color: #000;
        text-decoration: none;
    }
    .header .settings .span-text{
        display: flex;
        align-items: center;
    }
    .header .current-lang.desktop{
        display: none;
    }
    .header .current-lang.mobile{
        display: flex;
    }
    .header .current-lang .lang-icon{
        font-size: 0.95rem;
        width: 25px;
    }
    .lang-dropdown {
        position: absolute;
        top: 60px;
        right: 0;
        border: none;
        width: 250px;
    }
    .lang-dropdown a{
        padding: 1rem;
        font-size: 1rem;
    }
    .sidebar{
        top: 0;
        z-index: 1002;
        height: 100%;
    }
    .panel{
        max-width: 100%;
        top: 0;
        z-index: 1002;
        height: 100%;
    }
    .note-form, .chat-form{
        max-width: 100%;
    }
    .chat-form {
        padding-bottom: 0rem;
    }
    .note-modal-content {
        padding: 1rem;
    }
}
/* --- СТИЛИ ДЛЯ ТЕМНОЙ ТЕМЫ --- */
body.dark-theme {
    background: #1e1e1e;
    background: #252525;
    color: #e0e0e0;
    font-weight: 300;
}

body.dark-theme .header,
body.dark-theme .sidebar,
body.dark-theme .panel {
    background-color: #252525;
    border-color: #333;
    color: #e0e0e0;
}

body.dark-theme .header {
    background-color: rgba(37, 37, 37, 0.8);
}

body.dark-theme .header .nav a.assist{
    color: #000;
    background: #fff;
    transition: all 0.2s ease;
}

body.dark-theme .header .nav a.assist:hover{
    box-shadow: 0 0 30px 0 rgb(255 255 255 / 30%);
}

body.dark-theme .header .nav-back{
    color: #e0e0e0;
}

body.dark-theme .lesson-nav {
    background-color: rgba(37, 37, 37, 0.8);
}

body.dark-theme .lesson-nav button svg{
    color: #fff;
}

body.dark-theme .breadcrumbs-link,
body.dark-theme .breadcrumbs svg {
    color: #a0a0a0;
    opacity: 0.7;
}

body.dark-theme .breadcrumbs-link:hover{
    color:#e0e0e0;
}

body.dark-theme .action-buttons button{
    background: #252525;
}

body.dark-theme .action-buttons button svg{
    color: #fff;
}

body.dark-theme .action-buttons button:hover{
    background: #444444
}

body.dark-theme .action-buttons button:hover svg{
    opacity: 1;
}

.action-buttons button:hover::before {
    color: #a0a0a0;
}

body.dark-theme .lesson-header h1{
    font-weight: 600;;
}

body.dark-theme .lesson-plan a {
    color: #c0c0c0;
    font-weight: 300;
}

body.dark-theme .lesson-plan a:hover,
body.dark-theme .lesson-plan a.active {
    background: #333;
    color: #fff;
}

body.dark-theme .description {
    background: #2c2c2c;
    color: #d0d0d0;
}

body.dark-theme .slide {
    border-bottom-color: #333;
}

body.dark-theme .answer-btn {
    background: #2c2c2c;
    border-color: #444;
    color: #e0e0e0;
}

body.dark-theme .answer-btn:hover,
body.dark-theme .answer-btn.selected {
    background: #383838;
}

body.dark-theme .answer-btn .checkbox-icon {
    border-color: #777;
}

body.dark-theme .answer-btn.selected .checkbox-icon {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    box-shadow: inset 0 0 0 3px #2c2c2c;
}

body.dark-theme .note.correct {
    border-color: #3a5a40;
    background-color: #2a3a2f;
}

body.dark-theme .note.incorrect {
    border-color: #6e3b3b;
    background-color: #4a2e2e;
}

body.dark-theme .close-sidebar{
    color: #fff;
}

body.dark-theme .close-panel{
    color: #fff;
}

body.dark-theme .panel-header .tab-header {
    color: #a0a0a0;
}

body.dark-theme .panel-header .tab-header:hover {
    background: #333;
    color: #fff;
}

body.dark-theme .panel-header .tab-header.active {
    background: #444;
    color: #fff;
}

body.dark-theme .panel-content .note:hover {
    background: #333;
}

body.dark-theme .note-form .btn, 
body.dark-theme .chat-form .btn {
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
}

body.dark-theme .note-form .btn:hover, 
body.dark-theme .chat-form .btn:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}

body.dark-theme .note-form textarea,
body.dark-theme .chat-form textarea {
    background: #2c2c2c;
    border-color: #444;
    color: #e0e0e0;
}

body.dark-theme .note-form textarea:focus,
body.dark-theme .chat-form textarea:focus {
    border-color: #a0a0a0;
}

body.dark-theme .assistant-message {
    background-color: #383838;
    color: #e0e0e0;
}

body.dark-theme .user-message {
    background-color: #0056b3;
}

body.dark-theme .note-form .mini-btn, 
body.dark-theme .chat-form .mini-btn{
    background: #383838
}

body.dark-theme .note-form .mini-btn:hover, 
body.dark-theme .chat-form .mini-btn:hover{
    background: #000;
}

body.dark-theme .panel-cta-title{
    color: #7b7b7b;
}

body.dark-theme .panel-cta-btn {
    background: #333;
    color: #e0e0e0;
}

body.dark-theme .panel-cta-btn:hover {
    background: #e0e0e0;
    color: #1a1a1a;
}

body.dark-theme .note-modal-content {
    background: #252525;
    color: #e0e0e0;
}

body.dark-theme .close-modal-btn svg {
    stroke: #a0a0a0;
}

body.dark-theme .note-modal-content p {
    color: #a0a0a0;
}

body.dark-theme .go-to-edit-link{
    border-color: #333;
    color: #9f9f9f;
}

body.dark-theme .go-to-edit-link:hover{
    color: #fff;
}

body.dark-theme .note-actions svg{
    color: #a0a0a0;
    background: #444444;
}

body.dark-theme .note-actions svg:hover{
    color: #fff;
}

body.dark-theme .btn-primary{
    color: #000;
    background: #fff;
}

body.dark-theme .btn-primary:hover{
    box-shadow: 0 0 30px 0 rgb(255 255 255 / 30%);
}

body.dark-theme .btn-secondary {
    background-color: #444;
    color: #e0e0e0;
}

body.dark-theme .btn-secondary:hover {
    background-color: #555;
}

body.dark-theme .edit-note-textarea {
    background: #2c2c2c;
    border-color: #444;
    color: #e0e0e0;
}

body.dark-theme .edit-note-textarea:focus {
    border-color: #a0a0a0;
}

body.dark-theme .lang-dropdown {
    background-color: #252525;
    border-color: #333;
}

body.dark-theme .lang-dropdown a {
    color: #e0e0e0;
}

body.dark-theme .lang-dropdown a:hover {
    background-color: #333;
}

body.dark-theme .lang-dropdown a.active {
    background-color: #444;
}

body.dark-theme .header .settings {
    background: transparent;
}

body.dark-theme .header .settings .profile-link,
body.dark-theme .header .settings .theme-switch,
body.dark-theme .header .settings .share,
body.dark-theme .header .settings .lang-btn {
    color: #e0e0e0;
}


@media (max-width: 992px) {

    body.dark-theme .header .settings{
        background: #3a3a3a;
    }
}




/* ======== Coffee Theme ======== */
body.coffee-theme {
    background: #f7f1e6;
    color: #443a1f;
}

body.coffee-theme .header,
body.coffee-theme .sidebar,
body.coffee-theme .panel {
    background-color: #f7f1e6;
    border-color: #e3d9c7;
    color: #443a1f;
}

body.coffee-theme .header {
    background-color: rgb(247 239 225 / 50%);
}

body.coffee-theme .header a{
    color: #443a1f;
    transition: all 0.3s ease;
}

body.coffee-theme .header a:hover{
    color: #443a1f;
}

body.coffee-theme .header .nav a.assist{
    background: #715f4d;
    color: #f7f1e6;
    transition: all 0.3s ease;
}

body.coffee-theme .header .nav a.assist:hover{
    background: #000;
    color: #fff;
}

body.coffee-theme .header .nav-back{
    color: #715f4d;
}

body.coffee-theme .lesson-nav {
    background: #fff;
    background-color: rgb(255 255 255 / 70%);
}

body.coffee-theme .lesson-nav button svg{
    color: #443a1f;
}

body.coffee-theme .breadcrumbs-link,
body.coffee-theme .breadcrumbs svg {
    color: #5f5539;
    opacity: 0.7;
    transition: all 0.2s ease;
}

body.coffee-theme .breadcrumbs-link:hover{
    opacity: 1;
}

body.coffee-theme .action-buttons button{
    background: #f7f1e6;
    color: #584e35;
}

body.coffee-theme .action-buttons button svg{
    opacity: 0.7;
}

body.coffee-theme .action-buttons button:hover{
    background: #ece3d3;
}

body.coffee-theme .action-buttons button:hover svg{
    opacity: 1;
}

.action-buttons button:hover::before {
    color: #5f5539;
}

body.coffee-theme .lesson-header h1{
    font-weight: 700;
}

body.coffee-theme .lesson-plan a {
    color: #5f5539;
    font-weight: 400;
}

body.coffee-theme .lesson-plan a:hover,
body.coffee-theme .lesson-plan a.active {
    background: #e3d9c7;
    color: #443a1f;
}

body.coffee-theme .lesson-plan a::before {
    color: rgb(95 85 57 / 60%);
}

body.coffee-theme .description {
    background: #ece3d3;
    color: #443a1f;
}

body.coffee-theme .slide {
    border-bottom-color: rgb(227 217 199 / 50%);
}

body.coffee-theme .answer-btn {
    background: #f8f6f3;
    border: 1px solid #e3d9c7;
}

body.coffee-theme .answer-btn:hover,
body.coffee-theme .answer-btn.selected {
    background: rgb(227 217 199 / 60%);
}

body.coffee-theme .answer-btn .checkbox-icon {
    border-color: #e3d9c7;
}

body.coffee-theme .answer-btn:hover .checkbox-icon {
    border-color:#e3d9c7;
}

body.coffee-theme .answer-btn.selected .checkbox-icon {
    background-color: #5f5539;
    border-color: #5f5539;
    box-shadow: inset 0 0 0 3px #fff;
}

body.coffee-theme .note.correct {
    border-color: #94e1a4;
    background-color: #daf0e0;
}

body.coffee-theme .note.incorrect {
    border-color: #f29494;
    background-color: #ffebeb;
}

body.coffee-theme .close-sidebar{
    color: rgb(94 84 56 / 60%);
}

body.coffee-theme .close-panel{
    color: rgb(94 84 56 / 60%);
}

body.coffee-theme .panel-header .tab-header {
    color: #998e6f;
}

body.coffee-theme .panel-header .tab-header:hover {
    background: rgb(227 217 199 / 40%);
    color: #5f5538;
}

body.coffee-theme .panel-header .tab-header.active {
    background: rgb(227 217 199);
    color: #5f5538;
}

body.coffee-theme .panel-content .note:hover {
    background: rgb(227 217 199 / 40%);
}

body.coffee-theme .note-form .btn, 
body.coffee-theme .chat-form .btn {
    border: none;
    background: #715f4d;
    color: #f7f1e6;
}

body.coffee-theme .note-form .btn:hover, 
body.coffee-theme .chat-form .btn:hover {
    background: #000;
    color: #fff;
}

body.coffee-theme .note-form textarea,
body.coffee-theme .chat-form textarea {
    border: 1px solid rgb(227 217 199);
    background: #f8f6f3;
}

body.coffee-theme .note-form textarea:focus,
body.coffee-theme .chat-form textarea:focus {
    border-color: #715f4d;
}

body.coffee-theme .assistant-message {
    background-color: #efe8da;
    color: #443a1f;
}

body.coffee-theme .user-message {
    background-color: #715f4d;
    color: #f7f1e6;
}

body.coffee-theme .note-form .mini-btn, 
body.coffee-theme .chat-form .mini-btn{
    background: #715f4d;
    color: #f7f1e6;
}

body.coffee-theme .note-form .mini-btn:hover, 
body.coffee-theme .chat-form .mini-btn:hover{
    background: #000;
    color: #fff;
}

body.coffee-theme .panel-cta-title{
    color: #212529;
}

body.coffee-theme .panel-cta-btn {
    background: #ece3d3;
    color: #5f5538;
}

body.coffee-theme .panel-cta-btn:hover {
    background: #715f4d;
    color: #f7f1e6;
}

body.coffee-theme .note-modal-content {
    background: #f7f1e6;
    color: #443a1f;
}

body.coffee-theme .close-modal-btn svg {
    stroke: rgb(94 84 56 / 60%);
}

body.coffee-theme .note-modal-content p {
    color: #5f5538;
}

body.coffee-theme .note-actions svg{
    color: #998e6f;
    background: #e3d9c7;
}

body.coffee-theme .note-actions svg:hover{
    color: #443a1f;
}

body.coffee-theme .btn-secondary {
    background: rgb(227 217 199 / 40%);
    color: #443a1f;
}

body.coffee-theme .btn-secondary:hover {
    background-color: #e3d9c7;
}

body.coffee-theme .btn-primary{
    background: #715f4d;
    color: #f7f1e6;
}

body.coffee-theme .btn-primary:hover {
    background: #000;
    color: #fff;
}

body.coffee-theme .edit-note-textarea {
    border-color: rgb(227 217 199);
    background: #f8f6f3;
}

body.coffee-theme .edit-note-textarea:focus {
    border-color: #715f4d;
}

body.coffee-theme .go-to-edit-link{
    border-color: #e3d9c7;
}

body.coffee-theme .lang-dropdown {
    background-color: #f1eadc;
    border: 1px solid #e3d9c7;
}

body.coffee-theme .lang-dropdown a {
    color: #212529;
}

body.coffee-theme .lang-dropdown a:hover {
    background-color: #ece3d3;
}

body.coffee-theme .lang-dropdown a.active {
    background-color: #e3d9c7;
}

body.coffee-theme .header .settings {
    background: transparent;
}

body.coffee-theme .header .settings .profile-link,
body.coffee-theme .header .settings .theme-switch,
body.coffee-theme .header .settings .share,
body.coffee-theme .header .settings .lang-btn {
    color: rgb(95 85 57 / 60%);
}

body.coffee-theme .header .settings .profile-link:hover,
body.coffee-theme .header .settings .theme-switch:hover,
body.coffee-theme .header .settings .share:hover,
body.coffee-theme .header .settings .lang-btn:hover {
    color: #443a1f;
}

@media (max-width: 992px) {

    body.coffee-theme .header .settings{
        background: #f1eadc;
    }

    body.coffee-theme .header .settings .profile-link, 
    body.coffee-theme .header .settings .theme-switch, 
    body.coffee-theme .header .settings .share, 
    body.coffee-theme .header .settings .lang-btn {
        color: rgb(95 85 57);
    }
}